In [1]:
import pandas as pd
import numpy as np

# Reading Data

In [2]:
df=pd.read_csv('data1.csv')

In [3]:
df.head()

        fever  bodyPain  age  runnyNose  diffBreath  infectionProb
0  101.570121         1   12          1           0              0
1  100.238390         1   94          1          -1              0
2   99.998553         0    6          1          -1              1
3   98.513169         0   43          0           1              1
4   98.355107         0    8          1           0              1

In [4]:
df.tail()

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
2570   98.785853         0   96          1           0              1
2571   99.753675         0    9          0           0              1
2572   98.763017         1    3          1           0              0
2573   99.241458         0   51          0           1              0
2574  101.027163         0   89          1          -1              1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2575 entries, 0 to 2574
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          2575 non-null   float64
 1   bodyPain       2575 non-null   int64
 2   age            2575 non-null   int64
 3   runnyNose      2575 non-null   int64
 4   diffBreath     2575 non-null   int64
 5   infectionProb  2575 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 120.8 KB

In [6]:
df['diffBreath'].value_counts()

 1    866
-1    858
 0    851
Name: diffBreath, dtype: int64

In [7]:
df.describe()

,fever,bodyPain,age,runnyNose,diffBreath,infectionProb
count,2575.000000,2575.000000,2575.000000,2575.000000,2575.000000,2575.000000
mean,100.015391,0.494757,50.392621,0.522718,0.003107,0.482718
std,1.165591,0.500070,29.073815,0.499581,0.818392,0.499798
min,98.001220,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,98.998060,0.000000,25.000000,0.000000,-1.000000,0.000000
50%,99.998553,0.000000,51.000000,1.000000,0.000000,0.000000
75%,101.026208,1.000000,76.000000,1.000000,1.000000,1.000000
max,101.998982,1.000000,100.000000,1.000000,1.000000,1.000000

# Train Test Splitting

In [8]:
def data_split(data,ratio):
    np.random.seed(42)
    shuffled=np.random.permutation(len(data))
    test_set_size=int(len(data)*ratio)
    test_indices=shuffled[:test_set_size]
    train_indices=shuffled[test_set_size:]
    return data.iloc[train_indices],data.iloc[test_indices]

In [9]:
train,test=data_split(df,0.2)

In [10]:
train

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
1703   99.386286         1   15          0           1              0
1675   98.903263         0   69          0           1              0
1518   98.921696         0   84          1           1              1
361   101.971433         0   43          0           0              0
1544  101.296103         0   19          0           1              0
...          ...       ...  ...        ...         ...            ...
1638   99.180006         1   16          0           0              1
1095  101.946773         0   50          1           0              1
1130  101.679421         0   86          0           0              1
1294  101.950626         1   62          1           1              0
860    98.735395         0   58          0          -1              0

[2060 rows x 6 columns]

In [11]:
test

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
1644  101.487007         1   38          1          -1              1
1189   99.042234         1   86          0           0              0
495    98.585843         1   38          1           0              0
1656   99.770625         0   77          0           0              1
651    99.618697         0   52          1           0              1
...          ...       ...  ...        ...         ...            ...
1627   99.008690         0   18          1           1              0
471   100.254243         0  100          0          -1              0
700    99.775967         0   19          1          -1              0
25     99.379541         1   14          0           1              1
755   101.518935         1    1          0           0              0

[515 rows x 6 columns]

In [12]:
X_train=train[['fever','bodyPain','age','runnyNose','diffBreath']].to_numpy()
X_test=test[['fever','bodyPain','age','runnyNose','diffBreath']].to_numpy()

In [13]:
Y_train=train[['infectionProb']].to_numpy().reshape(2060,)
Y_test=test[['infectionProb']].to_numpy().reshape(515,)

In [14]:
Y_train

array([0, 0, 1, ..., 1, 0, 0], dtype=int64)

In [15]:
from sklearn.linear_model import LogisticRegression

In [16]:
clf=LogisticRegression()
clf.fit(X_train,Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [19]:
infProb=clf.predict_proba([[102,1,22,-1,1]])[0][1]

In [20]:
infProb

0.48007631548277985